[submodule "Class3"]
	path = Class3
	url = git@github.com:lucasbretana/LugosiOnJvacc.git
[submodule "Class2/StackMachine"]
	path = Class1/StackMachine
	url = git@github.com:Jonathas-Conceicao/StackMachine.git
[submodule "Class5"]
	path = Class5
	url = git@github.com:Jonathas-Conceicao/Lugosi.git
